{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}

{{>theme_dh/navbar}}

{{#courseImg}}    
    <div style='background-image: url("{{courseImg}}");' class='row header_course_main_image'> 
        <div class='header_course_main_image_layer'>
            <div class="header_course_main_image_text">
                <h2>{{coursename}}</h3>
                <p>{{coursesummary}}</p>
            </div>
            <div class="header_course_main_image_navbar">
                {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                {{/hasnavbar}}
            </div>
            {{#settingsmenu}}
                <div class="header_course_main_image_settings">
                    <div class="">
                        {{{settingsmenu}}}
                    </div>
                </div>
            {{/settingsmenu}}
        </div>
    </div>
{{/courseImg}}
    